// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// loader vars
$loader-bg-transparency: 0.7;
$loader-bg-color: black;

// menu
$menu-text-color: #fff;
$menu-bg-active: #565555;

// $data-table-mobile-row-min-height: 12px !default;
// $data-table-mobile-row-header-font-weight: 100 !default;
// $data-table-dense-header-height: 100px !default;
